body {
    background-color: #3b0b1e;
}

#zona-encabezado {
    width: 85%;
    background-color:  #6e8856;
}

#zona-imagenes {
    width: 85%;
    background-color: #38502d;
    text-align: center;
}

#zona-cuerpo {
    width: 85%;
    color: #8e9c57;
    background-color: #38502d;
}

#zona-final {
    width: 85%;
    color:#3B0B1E;
    background-color:#8e9c57;
    font-size: 12pt;
}

h1 {
    font-family: "garamond";
    font-size: 32pt;
    text-align: center;
}

.texto-encabezado {
    font-family: "cambria";
    font-size: 13pt;
    color: #38502d;
}

.texto-cuerpo {
    font-family:"cambria";
    font-size: 13pt;
    color:#8e9c57;
}

.texto-final {
    font-family:"cambria";
    font-size: 12pt;
    color: #3B0B1E;
}

img {
    width: 30%;
    }

